<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Todo List
  </h1>
  <h6>Server - {{a}}</h6>
  <img width="300" alt="Angular Logo" src="assets/images/redbricklogo.png">
</div>
<h2>Here are some links to help you start: </h2>
<button type="button" class="btn btn-primary">Primary</button>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<nav class="navbar navbar-light" style="background-color: #fff">
  <a href="#" class="navbar-brand">
      <img width="300" src="assets/images/redbricklogo.png" alt="">
  </a>
</nav>
<div class="container">
  <div class="row justify-content-center">
      <h1>Todo List</h1>
  </div>
  <div class="row">
    <div class="col-8 offset-3">
      <table style="width: 100%">
        <tr>
          <th>Task Id</th>
          <th>Task Name</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let task of tasks">
          <td>{{task.taskId}}</td>
          <td>{{task.taskName}}</td>
          <td><button class="btn btn-danger" (click)="deleteTask(task.taskId)">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
