<nav class="navbar navbar-light" style="background-color: #fff">
  <a href="#" class="navbar-brand">
      <img width="300" src="assets/images/redbricklogo.png" alt="">
  </a>
</nav>
<div class="container">
  <div class="row justify-content-center align-items-center">
      <h1>Redbrick Todo List</h1>
  </div>
  <div class="row justify-content-center">
    <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)" style="width:100%"  >
      <div class="col-6 offset-3">
        <div class="form-group">
          <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Add a task" ngModel required>
          <br>
          <button class="btn btn-primary" type="submit" [disabled]="!taskForm.valid">Add task</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row top-buffer">
    <div class="col-8 offset-3">
      <table style="width: 100%">
        <tr>
          <th>Task Id</th>
          <th>Task Name</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let task of tasks">
          <td>{{task.taskId}}</td>
          <td>{{task.taskName}}</td>
          <td><button class="btn btn-danger" (click)="deleteTask(task.taskId)">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
